.login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 90px);
}

.login_content_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    background-color: rgba(148, 193, 175, 0.5);
    border-radius: 5%;
    padding: 50px 25px;
    font-size: 24px;
    font-weight: 600;
}



.login_content_wrapper input {
    height: 35px;
    border-radius: 10px;
    border-style: none;
    padding: 5px 10px;
    margin: 25px 5px;
    font-size: 20px;

}

.login_content_wrapper button {
    height: 35px;
    font-size: 20px;
    margin: 25px 5px 0px;
    border-radius: 10px;
    border-style: none;
}

label {
    margin: 0 !important;
}